{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
  <section id="ticket-list-section" class="ticket-list">
    <div class="container">
      <!-- here goes the ticket list -->
      {% include 'tickets/ticket_list_partial.html' %}
      <!-- end ticket list -->
    </div><!-- end container -->

  </section>

  <!-- the modal for ticket cancellation confirm -->
      <div class="modal fade" id="modal-cancel-user-ticket">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
  <!-- end the modal -->

{% endblock content %}
