// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.sec-content {
  padding: 40px 0;

  .sec-content-title {
    margin-bottom: 30px;
    font-weight: 600;
  }

}
